# OS
.DS_Store
Thumbs.db

# IDE
.classpath
.project
.settings/
.vscode/
.idea/
*.iml
Servers/

# Build / Compile outputs
bin/
out/
build/
target/
.gradle/
*.class
*.war
*.ear
*.log
logs/

# Env / secrets
.env
*.keystore
*.pem
*.p12

img/